---
title: Legal Requirements
description: The Law
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 1
---
Legal Requirements

If you do not create accessible content you could be breaking the law.  

If you are working to the GOV.UK Service Standard you will also need to understand accessibility requirements for public sector bodies. (HL)   
Each of the standards feed into the [Equality Act 2010](actual hyperlink). 
If you are building anything which runs in a browser, you will need to meet the Public Sector Bodies Accessibility Regulations 2018. (HL)
If you are procuring hardware or software you will need to meet the EN 301 549 Accessibility Requirements for ICT products and services. (HL)
