---
title: Create your Welsh language service
description: Guidance to help you create your Welsh language service
section: Guidance
theme: Help to
layout: layout-pane.njk
show_page_nav: true
order: 1
---

## Who is this guidance for

Any member of a delivery team should know:
- when and if your service needs to provide Welsh content
- how you can get the Welsh content
- how we get it agreed
- how we make sure it’s right and works for our users

There are more things to think about when we design services that are available in both English and Welsh.

## Why we create Welsh language services in HM Land Registry (HMLR)

The law means that if we supply services to the public in Wales, we must treat the Welsh and English languages the same.
[Check our Welsh language scheme](https://www.gov.uk/government/publications/hm-land-registry-welsh-language-scheme/hm-land-registry-welsh-language-scheme) to find out how we should follow the law.

Even if you do not think you need a Welsh language version of your service, you should still check the scheme.

## Examples of Welsh language services we provide

1. Our GOV.UK homepage is bilingual, and we have a bilingual version of:
- the [UK House Price Index](https://landregistry.data.gov.uk/app/ukhpi/?lang=cy)
- [Search for land and property information](https://search-property-information.service.gov.uk/search/?_ga=2.163432828.112421320.1632130468-604348297.1630934446)
- [Search for local land charges](https://www.gov.uk/chwilio-am-bridiannau-tir-lleol-ar-dir-ac-eiddo)
- Maintain LLC (Local Land Charges)
2. We accept Welsh language letters, emails, telephone calls and applications.
3. We have a dedicated Welsh language team with a Welsh language telephone line – 0300 006 0422.
4. We produce a bilingual template of registers of properties in Wales.
5. The language of source documents determines the language of entries. Registers can include English entries, Welsh entries, or a mixture of both languages.
6. All our statutory forms and practice guides are available in Welsh.

## When to develop your Welsh services

Once you know that you need to provide a Welsh service – you should develop it at the same time as your English one. It’s easier and cheaper than adding a Welsh version to an existing English one.

Do not leave development until you’re ready for Public Beta or Live.

## Which parts of your service should you translate

Every part of your service that a user interacts with should be translated unless there are legal reasons for not doing so. For example, Welsh register entries.

## How to translate your service

1. Include Welsh speakers in your research and usability testing regularly if you’re building a service for them.
1. Think about the whole Welsh language service.
1. Links should lead to Welsh pages where these are available.
1. You must consider online and offline parts of your service. For example, letters we send are part of a service.
1. Where possible, include Welsh images or images relating to Wales.
1. Do not use Google Translate for any translations.
1. Always use a qualified translator and not just a native Welsh-speaker.

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "You must use a qualified Welsh translator."
}) }}

## Why you need to use a qualified Welsh translator

A qualified translator will make sure your translations are correct.
Simple changes in English may not be simple in Welsh. The languages are different in terms of vocabulary and grammar.

Some examples:
- Welsh words do not automatically become plural if we add an ‘s’ to them.  For example, ‘Perchennog’ (‘Proprietor’) changes to ‘Perchnogion’ and not ‘Perchennogs’.
- ‘Register’ can appear in 4 different ways in Welsh, depending on the context – cofrestr, gofrestr, chofrestr, nghofrestr.
- Changing ‘This piece’ (‘Y darn hwn’) to ‘This section’ (‘Yr adran hon’) requires one change in English but three in Welsh.
- Sometimes we need to change the Welsh but not the English - ‘HM Land Registry’ did not need to change because of the death of the Queen, but the Welsh version changed from ‘Cofrestrfa Tir EM’ to ‘Cofrestrfa Tir EF’.

They will also make sure any Welsh diacritics are included in your translations.
For example:
- ‘Â’ means ‘With’ and ‘A’ means ‘And’.
- ‘Ffôn’ means ‘Telephone’ and ‘Ffon’ means ‘Walking stick’.

You may need to work iteratively with your translator to get something that works for both English and Welsh language users. For example, a 4-letter word in English may be 10 letters in Welsh. You need to think about how that might wrap on a screen, for example.

## Working with your Welsh translator

1. Let your Welsh translator know about new work as soon as you can, so that they can prepare for it.
1. Invite translators to research or give them a walk-through of the idea before you commit to it. This will give them the chance to let you know about anything that may affect your designs.
1. Only ask for translations when you’re confident that the English content will not change. We do not want to waste people’s time. There may be times when things are out of our control.
1. Only develop and deploy new features if content is ready in English and Welsh. This means that both Welsh and English speakers will have the same experience.
1. Involve your translator in the sign-off process. This could involve giving them access to your prototype or a pre-production environment.

You should give your Welsh translator access to:
- context – what you need and why
- other translations you already have in your service to help with consistency
- links to other services that you’re aware of with similar content
- content that will not be visible on the screen – for example, content that will aid assistive technology

You should also be specific about what is a link and what the associated URL is.

Do not ask for a one-word translation if it is part of a whole sentence.

This is because, the word you need may be different in different contexts. Changing one word in English may mean you need to change more words in Welsh.

## Managing your Welsh content

Work out how best to manage your Welsh content. You need to be careful if you copy and paste from Word into another application, for example.

## Check your work

You should get another review of your Welsh service once it’s live. The review should cover both online and offline parts. The review will help your translator to view their content in the context of your wider journeys.

For example, apostrophes can cause problems. The words ‘I’r’ (‘To the’) appeared as ‘Iâr’ (‘Hen’) in one service. This could be caught with a review.

Make sure you find out if the things they raise are improvements or things that you must do for accuracy. This will help you prioritise any changes.

## Making changes

1. Expect things to change when things have gone live.
1. Remember a change to the English text means a change to the Welsh text.

## Get help with creating your Welsh language service
If you need help to create your Welsh language service, contact Eleri Sparnon Jones (Head of the Welsh language services).

<b>Email</b> <br>
eleri.jones@landregistry.gov.uk
