---
title: What more can you do
description: What more can you do
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 6
---
You must make sure your service works with assistive technologies: [Testing with assistive technologies](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies)  

Join the [Cross Government Accessibility community](https://www.gov.uk/service-manual/communities/accessibility-community)



Further information on [Flesch-Kincaid readability tests](https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies)  

