---
title: Header with service name
layout: layout-example.njk
---
{% from "hmlr/components/header/macro.njk" import hmlrHeader %}

{{ hmlrHeader({
  homepageUrl: "#",
  serviceName: "Service name",
  serviceUrl: "#"
}) }}