---
layout: layout-pane.njk
title: Accessibility
description: Contact Gaynor
show_subnav: true
---

Contact me

I'm Gaynor Williams; Senior Acessibility Consultant. 
I provide solutions and recommendations to the design practice teams to fix accessibility issues. 
Previously I worked as an accessibility consultant and an end user assistive technology test analyst for HM Revenue and Customs. 

Feel free to contact me via Teams or email if once reading these pages, you need further guidance or advice.  

Also, if you'd like to talk to me about your own assistive technology, I'd love to hear from you.

  