---
title: Header
description: HM Land Registry header component
section: Components
theme: Experimental
layout: layout-pane.njk
show_page_nav: false
---

{% from "_example.njk" import example %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "This component is still experimental and is not ready for production",
  iconFallbackText: "Warning"
}) }}

The HM Land Registry header shows users which service they are using and offer a link back to the home page if one exists.

{{ example({group: "components", item: "header", example: "default", html: true, nunjucks: true, open: false}) }}

The header can expand to the full width of the page.

{{ example({group: "components", item: "header", example: "full-width", html: true, nunjucks: true, open: false}) }}
