---
title: Typography
description: typography advice for differnt services
layout: layout-pane.njk
show_page_nav: false
---

{% from "_example.njk" import example %}

## Default typeface

If your service is on the service.gov.uk subdomain you must [use the GDS Transport typeface](https://design-system.service.gov.uk/styles/typography/).

If your service is available on a subdomain other than service.gov.uk then you must use Arial.

## Geo

Geo is a bespoke HM Land Registry typeface designed by award winning font foundry Dalton Maag. It is designed to reflect the qualities of the HM Land Registry Hexagonal Aerial logo and support a distinct aesthetic across the whole Corporate Identity System of HM Land Registry.

### When to use Geo typeface

Geo is not designed to be used in web services. 

It is only used in the HM Land Registry logo and marketing material in print.

Geo typography should always be ranged left using standard capitilisation rules.

Geo is available in five weights and a full Welsh character set. 

Geo Headline is designed to be used in sizes above 14pt. Geo Headline Italic/Bold or Bold Italic do not exist. Emphasis should be created by scale, proportion and colour. 

Geo Regular/Italic/Bold/Bold Italic are specifically designed for running text and smaller type sizes of 11pt/12pt. 

The Geo typeface must not be manipulated, it is a core representation of HM Land Registry and consequently its appearance and character must never be altered.

If you need a copy of the Geo typeface, contact designOps@landregistry.gov.uk