---
title: Typography
description: typography advice for differnt services
layout: layout-pane.njk
show_page_nav: false
---

{% from "_example.njk" import example %}

## Default typeface

If your service is on the service.gov.uk subdomain you must [use the GDS Transport typeface](https://design-system.service.gov.uk/styles/typography/).

If your service is available on a subdomain other than service.gov.uk then you must use Arial.

## GEO

The Geo typeface is...
