---
title: Footer
description: HM Land Registry footer component
section: Components
layout: layout-pane.njk
---

{% from "_example.njk" import example %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# {{ govukWarningText({
  text: "This component is still experimental and is not ready for production",
  iconFallbackText: "Warning"
}) }} #}

The HM Land Registry footer is...

{{ example({group: "components", item: "footer", example: "default", html: true, nunjucks: true, open: false}) }}

{{ example({group: "components", item: "footer", example: "populated", html: true, nunjucks: true, open: false}) }}
