---
title: Colour
description: Colours used in HM Land Registry
layout: layout-pane.njk
show_page_nav: false
---

## Main colours

If you are using GOV.UK Frontend or the GOV.UK Prototype Kit, use the [Sass
variables](https://frontend.design-system.service.gov.uk/sass-api-reference/#colours) provided rather than copying the
hexadecimal (hex) colour values. For example, use `$hmlr-brand-green` rather
than `{{ colours.applied['Brand colour'][0]['colour'] | trim }}`.
This means that your service will always use the most recent colour palette
whenever you update.

Only use the variables in the context they're designed for. In all other cases,
you should reference the [colour palette](#colour-palette) directly. For
example, if you wanted to use red, you should
use `govuk-colour("red")` rather than `$govuk-error-colour`.

<table class="govuk-body app-colour-list" summary="Table of main colours">
  <tbody>
  {# colours is an object built by ./lib/colours.js based on data defined in ./data/colours.json #}
  {% for groupName, group in colours.applied %}
    <tr>
      <td colspan="3">
        <h3 class="govuk-heading-m {% if not loop.first %}govuk-!-padding-top-6{% endif %}">
        {{groupName}}
        </h3>
      </td>
    </tr>
    {% for colour in group %}
      <tr class="app-colour-list-row">
        <th class="app-colour-list-column app-colour-list-column--name" scope="row">
          <span class="app-swatch {% if colour.colour == "#ffffff" %}app-swatch-border{% endif %}" style="background-color:{{colour.colour}}"></span>
          <code>{{colour.name}}</code>
        </th>
        <td class="app-colour-list-column app-colour-list-column--colour">
          <code>{{colour.colour}}</code>
        </td>
        <td class="app-colour-list-column app-colour-list-column--notes">
          {{colour.notes}}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
