---
title: Asking for feedback
description: A pattern for requesting feedback from users
section: Patterns
layout: layout-pane.njk
---

The guidance in this page is a collection of information from GOV.UK and in the Government service manual. This page brings that government advice together so it’s easier to find and understand. 

## When to use this pattern

Follow this advice when you want to collect feedback about your service or product.

Asking for feedback is a very important part of your service as we can learn and improve from it. You should usually do this from the very start of providing people a service or product.

This guidance applies to all services and products, including those for:

- the public on GOV.UK
- professional users
- staff use only

Always follow this advice even if the way that you ask for feedback changes as your service grows.

This advice is technology agnostic and it applies whether you build your own feedback form, purchase one off-the-shelf, or use a third party tool.

### How it works

When asking for feedback, you must consider:

- accessibility
- how you will create an inclusive service – for example, how might you accidentally exclude someone from giving feedback?
- data protection
- design standards - making your page or form work and look the same way as every other page in your service
- Welsh language - if you offer a Welsh service
- security - you do not want someone to use your feedback page as an attack vector against the service, organisation, or Government

You must be able to show these things:

- in a Service Assessment
- at an internal review
- to someone else who asks how you're meeting your legal duties

## Before you create a new feedback page or form

For services on GOV.UK, you should check the [creating a standard feedback page on GOV.UK](https://www.gov.uk/service-manual/service-assessments/get-feedback-page). This is part of the process for getting your service onto a GOV domain.

Services and products not on GOV.UK should consider the ‘standard’ feedback page first.

You should only differ from that where you can demonstrate that it does not meet the users need, or you have a better way to meet them.

For example, if you need to ask more specific questions so that users can answer the questions more successfully.

### If you create your own form or page

The following roles should be involved in creating new forms or pages:

1. A user researcher should lead the discussion of ‘what we need to know’ and ‘information to collect’. They must make sure that it is tested with real end users.
2. A content designer should lead the design of the form.
3. Use an interaction designer if you need to, to ensure existing proven patterns are used or to create new patterns.

The rest of the development team should follow their same responsibilities they would for any other part of your service. For example, the feedback form must be accessibility tested for compliance.

### How to decide between third party products or building your own

Off-the-shelf surveys and form products, for example Microsoft forms and Google forms, are often used for collecting information.

The laws that apply to feedback pages we code ourselves apply equally to those we choose to include from third parties. As the operator of the service, we are responsible for those third parties compliance with the law. For example the data protection laws and the Equality Act 2010.

For example, we need to know:

- that it’s secure – find out how to meet [point 9 of the service standard](https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service)
- who has access to it
- where the people are who use it and the laws that apply there
- what data is being collected by the third party (which is likely to be more than the questions we add to their tool)
- how data may be used by a third party

## Keep people’s data secure

Government has a legal duty to protect user information. If we fail in that duty, we will undermine public trust in government services.

The [Data Protection Act 2018](https://www.legislation.gov.uk/ukpga/2018/12/contents/enacted) controls how we use personal information in government.

In your feedback form, you must [consider what information you collect from your users](https://www.gov.uk/service-manual/design/collecting-personal-information-from-users).

You should always collect information anonymously when users are signed in.

You must avoid collecting personal information about users if you do not intend to. For example, you may accidentally collect their name or email address if they are signed into a staff network.

Where it would be useful to know who someone is, or to collect other personally identifying information you need to be clear about:

- why you’re collecting it
- what you’re collecting
- how you'll use it
- who has access to it
- how long we’ll keep it
- that it will be secure
- how they can find out more or raise a concern or complaint

[Find out more about the Data Protection Act and what it covers](https://www.gov.uk/data-protection)

## Welsh language services

Services in Welsh should provide feedback forms in Welsh.

Check our [HM Land Registry Welsh Language Scheme](https://www.gov.uk/government/organisations/land-registry/about/welsh-language-scheme) if you are not sure if this applies to your service.

If your service is being used by Welsh speaking people, you should do this as soon as possible. By public beta all parts of the service should be in Welsh including the feedback form.

Follow our guidance for help with developing a Welsh version of your form.

## Related links

- [Get a feedback page on GOV.UK](https://www.gov.uk/service-manual/service-assessments/get-feedback-page)
- [How to structure forms](https://www.gov.uk/service-manual/design/form-structure)

## Why you should follow this pattern advice

It’s also part of your service under the law. For example, in the Equality Act 2010 we fall under the 'service provider' category.

The rest of the team should consider this page as they would any other in the services, for example:

- lawyers confirming compliance with all laws
- testers ensuring its technical accessibility
- software developers should ensure, for example it’s secure, is available, what happens if the service (or part of) is not available.
- user researchers and designers to ensure its usable and accessible (non-technical compliance

The feedback form must be accessibility tested as part of the accessibility statement.

## Accessibility and inclusivity

Everything we provide in the operation of a service must be accessible and not discriminate. We are the ‘service provider’ in the Equality Act 2010, where it is illegal to discriminate against people with certain characteristics, for example race and disability.

This applies to internal services as well as public and professional facing services.

This applies to people using both the digital and non-digital parts of your service.

How to:

- [Make your service Inclusive (non-discriminating)](https://www.gov.uk/service-manual/design/making-your-service-more-inclusive)
- [Provide accessible services and assisted digital support](https://www.gov.uk/service-manual/helping-people-to-use-your-service)

 