---
title: Legal Requirements
description: The Law
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 1
---

Why accessibility matters

Accessibility means making sure your services can be used by the widest possible audience​.

Every time you send an email, prepare a presentation, write a post or a report you want as many people as possible to be able to understand it.  

Assisted Digital is different to accessibility (link to AD new page) 
It is not enough to just make it look good; it should also work well with assistive technology.  

Your readers may use JAWS, a screen reader or Dragon, a dictation tool. These are assistive technologies. (Link to new AT page)

This will allow us all to foster an inclusive IT environment.​
So IT will be accessible for everyone including users of assistive technology (AT).​
We want as many people as possible to understand what we write. Your readers may for example have these vision or hearing impairments.
Or cognitive. Cognitive skills are the core skills your brain uses to think, read, learn, remember, reason, and pay attention.​

They could be neuro-diverse and have for example: ​
Dyslexia which is difficulty reading and interpreting what they read​
Dyscalculia which is difficulty in understanding numbers ​
And they could experience symptoms of more than one neuro-diverse condition.  

Between 30% and 40% of the population are thought to be neurodiverse. 
The remainder are neuro-typical.​

​New Page: What you can do

Follow the writing for Government style guide and the A to Z Style Guide and write clearly using plain English.  
You can check the accessibility of your content in many Microsoft Office products including Word, Outlook and PowerPoint using an inbuilt accessibility checker. The checker will highlight any accessibility problems with your document, describe why you should fix them and give you guidance on how to fix them.   
It may not make it 100% accessible to everyone, but it will make sure your message is understood by as many people as possible. You can then copy the content into any format you wish.  
If you do not create accessible content you could be breaking the law. (Legal Requirements link to LR page) 

New Page: Legal Requirements

If you are working to the GOV.UK Service Standard you will also need to Understand accessibility requirements for public sector bodies.   
Each of the standards feed into the Equality Act 2010. If you are building anything which runs in a browser, you will need to meet the Public Sector Bodies Accessibility Regulations 2018.  
If you are procuring hardware or software you will need to meet the EN 301 549 Accessibility Requirements for ICT products and services.  

Contact - new Page
I'm Gaynor Williams - Senior Accessibility Consultant.

I joined HMLR's design practice on 1st December 2021. This is a new role which gives me the opportunity to shape the role, strategy, direction, and processes for accessible and inclusive design from scratch. I provide solutions and recommendations to the design practice teams to fix accessibility issues. 
Feel free to contact me via Teams (link) or email (link) if once reading these pages, you need further guidance or advice.  
Also, if you'd like to talk to me about your own assistive technology, I'd love to hear from you.  

Many thanks 

Gaynor Williams (Teams Link)