---
title: What you can do
description: What you can do
section: Accessibility
theme: Resources
layout: layout-pane.njk
order: 4
---

What you can do

Follow the writing for Government style guide and the A to Z Style Guide and write clearly using plain English.  

You can check the accessibility of your content in many Microsoft Office products including Word, Outlook and PowerPoint using an inbuilt accessibility checker. The checker will highlight any accessibility problems with your document, describe why you should fix them and give you guidance on how to fix them.   

It may not make it 100% accessible to everyone, but it will make sure your message is understood by as many people as possible. You can then copy the content into any format you wish.  

If you do not create accessible content you could be breaking the law. (Legal Requirements link to LR page) 